<!DOCTYPE html>
<html>
  <head>
    <title>Mubis</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/paper-kit.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('partials/navbar') %>

    <div class="wrapper">
      <div class="container">
        <h1>Mubis</h1>
  
        <% for (let movie of all){ %> 
        <a href="/movie/<%= movie.id %>">
          <div class="card card-nav-tabs">
            <h5 class="card-header card-header-info">
              <% if (movie.genre) { %>
                <i class="fa fa-bookmark" aria-hidden="true"></i> <%= movie.genre.name  %> 
                <% } else {%>
                <span class="badge badge-default">Sin genero</span>
              <% } %>
            </h5>
            <div class="card-body">
              <h3 class="card-title"> <%= movie.title  %> </h4>
              <p class="card-text">
                <i class="fa fa-star" aria-hidden="true"></i>
                <%= movie.rating %>
                 - 
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <%= movie.length %> minutos         
              </p>              
            </div>
          </div>
        </a>
      <% } %>
  
      </div>
    </div>
  </body>

  <!-- JS  -->
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- paper-kit  -->
  <script src="/javascripts/paper-kit.min.js"></script>
  <!-- paper-kit  -->
  <script src="/javascripts/custom.js"></script>
</html>
